.nav-link {
  font-size: 1.1rem;
}

a {
  color: #00539B;
  text-decoration: none;
}

a:hover {
  color: #B5B5B5;
  text-decoration: underline;
}

.navbar-brand {
  font-size: 1.25rem;
  margin-left: 2rem;
}
